@use 'config' as bp;

// Mixins

// Style Scroll Bar 
@mixin scrollbar($track, $bar, $width, $radius) {
  &::-webkit-scrollbar {background: $track; width:$width}
  &::-webkit-scrollbar-thumb {background: $bar; border-radius:$radius}
  &::-webkit-scrollbar-corner {background: $track}
  scrollbar-base-color: $bar;
  scrollbar-3dlight-color: $bar;
  scrollbar-highlight-color: $bar;
  scrollbar-track-color: $track;
  scrollbar-arrow-color: $track;
  scrollbar-shadow-color: $bar;
  scrollbar-dark-shadow-color: $bar
}

// CSS Mutli-columns
@mixin columns($count, $gap) {
  column-count:$count;
  column-gap:$gap;
  break-inside:avoid
}

// Quick XY center with flexbox
@mixin quick-center {
  display: flex;
  align-items: center
}

// Media
$small:  'only screen and (min-width: #{bp.$small-break})';
$medium: 'only screen and (min-width: #{bp.$medium-break})';
$large:  'only screen and (min-width: #{bp.$large-break})';
$xlarge: 'only screen and (min-width: #{bp.$xlarge-break})';

$small-down:  'only screen and (max-width: #{bp.$small-break - 1px})';
$medium-down: 'only screen and (max-width: #{bp.$medium-break - 1px})';
$large-down:  'only screen and (max-width: #{bp.$large-break - 1px})';
$xlarge-down: 'only screen and (max-width: #{bp.$xlarge-break - 1px})';