// Mixins

// Style Scroll Bar 
@mixin scrollbar($track, $bar, $width, $radius) {
  &::-webkit-scrollbar {background: $track; width:$width;}
  &::-webkit-scrollbar-thumb {background: $bar; border-radius:$radius}
  &::-webkit-scrollbar-corner {background: $track;}
  scrollbar-base-color: $bar;
  scrollbar-3dlight-color: $bar;
  scrollbar-highlight-color: $bar;
  scrollbar-track-color: $track;
  scrollbar-arrow-color: $track;
  scrollbar-shadow-color: $bar;
  scrollbar-dark-shadow-color: $bar
}

// CSS Mutli-columns
@mixin columns($count, $gap) {
  column-count:$count;
  column-gap:$gap;
  break-inside:avoid
}

// Quick XY center with flexbox
@mixin quick-center {
  display: flex;
  align-items: center
}


// Media
$small:  'only screen and (min-width: #{$small-break})';
$medium: 'only screen and (min-width: #{$medium-break})';
$large:  'only screen and (min-width: #{$large-break})';
$xlarge: 'only screen and (min-width: #{$xlarge-break})';

$small-down:  'only screen and (max-width: #{$small-break - 1px})';
$medium-down: 'only screen and (max-width: #{$medium-break - 1px})';
$large-down:  'only screen and (max-width: #{$large-break - 1px})';
$xlarge-down: 'only screen and (max-width: #{$xlarge-break - 1px})';
