// ThimbleCSS Core v2.2.2

// Sanitize
*, *::before, *::after {
  box-sizing:border-box;
}
::before,
::after {
  text-decoration: inherit; 
  vertical-align: inherit;
}
html {
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color:transparent;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:subpixel-antialiased;
  line-height:$line-height;
}
body {
  margin:0;
  font-family:$body-font;
  color:$font-color;
}
hr {
  color: inherit; 
  height: 0;
}
main {display:block}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto
}
h1, h2, h3, h4, h5, h6, p, blockquote, figure, ol, ul {margin:0;padding:0}

// typography
::selection {background-color:$green;color:#fff}
:focus {outline:0}
p {
  margin-bottom:1.1rem;
  text-rendering:optimizeLegibility
}
em, i, .em {
  font-style:italic;
  line-height:inherit
}
.uppercase {text-transform:uppercase}
.capitalize {text-transform:capitalize}
.lowercase {text-transform:lowercase}
.underline {text-decoration:underline}
strong, b, .strong {
  font-weight:bolder;
  line-height:inherit
}
small, .small {font-size:80%}
.large {font-size:140%}
sup, .sup, sub, .sub {
  position:relative;
  font-size:75%;
  line-height:0;
  vertical-align:baseline
}
sup, .sup {top:-.5em}
sub, .sub {bottom:-.25em}
.ellipsis, .ellipsis li {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.text-clip, .text-clip li {
  text-overflow:clip;
  white-space:nowrap;
  overflow:hidden
}

// Headers
h1, h2, h3, h4, h5, h6 {
  font-family:$header-font;
  font-weight:normal;
  text-rendering:optimizeLegibility;
  font-size:inherit;
  color:$header-color;
  margin-bottom: $line-height + rem;
}
h1.super-header {font-size:5.653rem;line-height:1.18}
h1 {font-size:3.998rem;line-height:1.22}
h2 {font-size:2.827rem;line-height:1.4}
h3 {font-size:1.999rem;line-height:1.55}
h4 {font-size:1.414rem;line-height:1.7}
h5 {font-size:1rem;line-height:1.85}
h6 {font-size: .707rem;line-height:2}
.sub-header {color:$subfont-color}

.super-header.vw {font-size:7vw}
h1.vw {font-size:6vw}
h2.vw {font-size:5vw}
h3.vw {font-size:4.5vw}
h4.vw {font-size:4vw}
h5.vw {font-size:3.5vw}
h6.vw {font-size:3vw}

// Links
a {
	text-decoration:none;
	transition:$normal-speed;
	color:$link-color;
  cursor:pointer;
  &:active, &:hover {
    color:$link-hover;
  }
}

// Floats & Clears
.float-left {float:left}
.float-right {float:right}
.clear:before,.clear:after {content:'';display:table}
.clear:after {clear:both}
.clear {zoom:1}

// Lists
ul, ol, dl {
  list-style-position:outside;
  margin-bottom:1.15rem;
  ul, ol, dl {
    margin-bottom:0
  }
}
ul {
  margin-left:1.2rem;
  list-style-type:disc;
  ul {
    list-style-type:circle
  }
  &.lined, &.none {
    list-style-type:none;
    margin-left:0
  }
  &.lined li {
    border-bottom:solid 1px rgba(0,0,0,0.2)
  }
}
ol {
  margin-left:1.55rem;
  list-style-type:decimal
}

// Media
img, iframe {
  max-width:100%;
  height:auto;
  border:0;
  border-style:none
}
svg:not(:root) {
  overflow:hidden
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
  iframe, object, embed, video {
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%
  }
}

// Center container
.container {
  margin:0 auto;
	max-width:$site-width;
	width:100%
}
.small-container {
  margin:0 auto;
	max-width:$small-site-width;
	width:100%
}
.large-container {
  margin:0 auto;
	max-width:$large-site-width;
	width:100%
}
.align-wide {
  margin-left: calc(25% - 25vw);
  margin-right: calc(25% - 25vw);
  width: auto;
  max-width:100vw
}
.align-full {
  margin-left: calc( -50vw + 50% );
  margin-right: calc( -50vw + 50% );
  max-width: 100vw;
  width:100vw
}

// Show/Hide utility
.hide, .xlarge-hide {display:none!important}
.small-show, .medium-show, .large-show, .xlarge-show {display:none}

// Grid
.grid {
	position:relative;
  display:flex;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  flex-flow:row wrap;
  &.collapse-padding {
    > .cell {
      padding-left:0;
      padding-right:0
    }
  }
}
.nowrap {flex-wrap:nowrap}
.wrap-reverse {flex-wrap:wrap-reverse}

// Justify Grid (Vertical Alignment)
.justify-start {justify-content:flex-start}
.justify-end {justify-content:flex-end}
.justify-center {justify-content:center}
.justify-space {justify-content:space-between}
.justify-around { justify-content:space-around}

// Alignment (Horizontal Alignment)
.align-top {align-items:flex-start;align-self:flex-start}
.align-bottom {align-items:flex-end;align-self:flex-end}
.align-center {align-items:center;align-self:center}
.align-baseline {align-items:baseline}
.align-stretch {align-items:stretch}

// Grid Direction
.reverse {flex-direction:row-reverse}
.vertical {
  flex-direction:column;
  flex-wrap:nowrap;
  &.reverse {
    flex-direction:column-reverse;
    flex-wrap:nowrap
  }
}

// Functions
$celladjust:$cell-margin*2;
$cell-sizes:  (
  (twelve, 12),
  (eleven, 11),
  (ten, 10),
  (nine, 9),
  (eight, 8),
  (seven, 7),
  (six, 6),
  (five, 5),
  (four, 4),
  (three, 3),
  (two, 2),
  (one, 1)
);

@mixin sizing($size) {
  // Visibilty
  .#{$size}hide {display:none!important}
  .#{$size}show {display:inherit!important}

  // Typography
  .#{$size}text-left {text-align:left}
  .#{$size}text-right {text-align:right}
  .#{$size}text-center {text-align:center}
  .#{$size}text-justify {text-align:justify}

  @each $size-text, $size-int in $cell-sizes {
    // Create Cell Sizes
    .#{$size}#{$size-text} {
      max-width:calc( 100%/12 * #{$size-int} - #{$celladjust} );
      flex: 0 0 calc( 100%/12 * #{$size-int} - #{$celladjust} );
      &.collapse {
        max-width:calc( 100%/12 * #{$size-int} );
        flex: 0 0 calc( 100%/12 * #{$size-int} )
      }
    }

    // Create Cell ordering
    .#{$size}order-#{$size-int}  {order:#{$size-int}}
  }

  .#{$size}fifth {
    max-width:calc( 20% - #{$celladjust} );
    flex: 0 0 calc( 20% - #{$celladjust} );
    &.collapse {
      max-width:20%;
      flex: 0 0 20%
    }
  }

}

// Cells
.cell {
  flex:1 1 auto;
  max-width:100%;
  margin-left:$cell-margin;
  margin-right:$cell-margin;
  padding-left:$cell-padding;
  padding-right:$cell-padding;
  &.fit {
    flex:0 0 auto;
    width:auto
  }
  &.fill {
    flex:1 1;
    width:auto
  }
  &.collapse {
    margin-left:0;
    margin-right:0
  }
  &.collapse-padding {
    padding-left:0;
    padding-right:0
  }
}

@include sizing(null);

// Media Queries
@media #{$small} {
  @include sizing(small-);
}

@media #{$medium} {
  @include sizing(medium-);

  // VW Headers
  .super-header.vw {font-size:5vw}
  h1.vw {font-size:3.5vw}
  h2.vw {font-size:3vw}
  h3.vw {font-size:2.5vw}
  h4.vw {font-size:2vw}
  h5.vw {font-size:1.5vw}
}

@media #{$large} {
  @include sizing(large-)
}

@media #{$xlarge} {
  @include sizing(xlarge-)
}

// Reduced Motion
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important
  }
}