// ThimbleCSS Core v2.0

// Resets
h1, h2, h3, h4, h5, p, blockquote, figure, ol, ul {margin:0;padding:0;}
iframe {border:0;}
main {display:block;}

::-moz-selection {background-color:$green;color:#fff;}
::selection {background-color:$green;color:#fff;}
::-moz-focus-inner {padding:0;border:0;}
:focus {outline:0;}

// HTML
*, *::before, *::after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
html {
  font-size:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  -webkit-tap-highlight-color:transparent;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  margin:0;
}
body {
  margin:0;
  line-height:1.4;
  font-family:$body-font;
  color:$font-color;
}
hr {
  height:2px;
  margin:1rem auto;
  border:0;
  background:rgba(0,0,0,0.3);
}
.float-left {float:left;}
.float-right {float:right;}
.hide, .xlarge-hide {display:none!important;}

.small-show, .medium-show, .large-show, xlarge-show {display:none;}

// clears
.clear:before,.clear:after {content:'';display:table}
.clear:after {clear:both}
.clear {zoom:1}

// Links
a {
	text-decoration:none;
	transition:$normal-speed;
	color:$link-color;
  cursor:pointer;
  -webkit-text-decoration-skip: objects;
  &:active, &:hover {
    color:$link-hover;
  }
  img {
    border:0;
  }
}

// typography
p {
  margin-bottom:1.1rem;
  text-rendering:optimizeLegibility;
}

em, i, .em {
  font-style:italic;
  line-height:inherit;
}
.uppercase {text-transform:uppercase;}
.capitalize {text-transform:capitalize;}
.lowercase {text-transform:lowercase;}
strong, b, .strong {
  font-weight:bolder;
  line-height:inherit;
}
small, .small {font-size:80%;}
.large {font-size:140%;}
sup, .sup, sub, .sub {
  position:relative;
  font-size:75%;
  line-height:0;
  vertical-align:baseline;
}
sup, .sup {top:-.5em;}
sub, .sub {bottom:-.25em;}
.ellipsis, .ellipsis li {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.text-clip, .text-clip li {
  text-overflow:clip;
  white-space:nowrap;
  overflow:hidden;
}

// Headers
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family:$header-font;
  font-weight:normal;
  text-rendering:optimizeLegibility;
  font-size:inherit;
  &.super-header {
    font-size:4rem;
    line-height:1.18;
  }
}
.super-header {font-size:4rem;line-height:1.18;}
.h1 {font-size:3rem;line-height:1.22;}
.h2 {font-size:2.5rem;line-height:1.4;}
.h3 {font-size:2rem;line-height:1.55;}
.h4 {font-size:1.5rem;line-height:1.7;}
.h5 {font-size:1rem;line-height:1.85;}
.sub-header {color:$subfont-color;}


.super-header.vw {font-size:7vw;}
h1.vw {font-size:6vw;}
h2.vw {font-size:5vw;}
h3.vw {font-size:4.5vw;}
h4.vw {font-size:4vw;}
h5.vw {font-size:3.5vw;}

// Lists
ul, ol, dl {
  list-style-position:outside;
  margin-bottom:1.15rem;
  ul, ol, dl {
    margin-bottom:0;
  }
}
ul {
  margin-left:1.2rem;
  list-style-type:disc;
  ul {
    list-style-type:circle;
  }
  &.lined, &.none {
    list-style-type:none;
    margin-left:0;
  }
  &.lined li {
    border-bottom:solid 1px rgba(0,0,0,0.2);
  }
}
ol {
  margin-left:1.55rem;
  list-style-type:decimal;
}

// Media
.img, img {
  max-width:100%;
  height:auto;
  border:0;
  border-style:none;
}
svg:not(:root) {
  overflow:hidden;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
  iframe, object, embed, video {
  	position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  }
}

// FlexGrid
.full {
  margin:0 auto;
}
.full {
	max-width:$site-width;
	width:100%;
}

// Grid
.grid {
	position:relative;
  display:-webkit-flex;
  display:flex;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  -webkit-flex-flow:row wrap;
  flex-flow:row wrap;
}
.nowrap {
  -webkit-flex-wrap:nowrap;
          flex-wrap:nowrap;
}
.wrap-reverse {
  -webkit-flex-wrap:wrap-reverse;
          flex-wrap:wrap-reverse;
}

// Justify grid
.justify-start {
  -webkit-justify-content:flex-start;
          justify-content:flex-start;
}
.justify-end {
  -webkit-justify-content:flex-end;
          justify-content:flex-end;
 }
.justify-center {
  -webkit-justify-content:center;
          justify-content:center;
}
.justify-space {
  -webkit-justify-content:space-between;
          justify-content:space-between;
}
.justify-around {
  -webkit-justify-content:space-around;
          justify-content:space-around;
}

// Grid Direction
.reverse {
  -webkit-flex-direction:row-reverse;
          flex-direction:row-reverse;
}
.vertical {
  -webkit-flex-direction:column;
          flex-direction:column;
       -webkit-flex-wrap:nowrap;
               flex-wrap:nowrap;
  &.reverse {
    -webkit-flex-direction:column-reverse;
          flex-direction:column-reverse;
       -webkit-flex-wrap:nowrap;
               flex-wrap:nowrap;
  }
}


// Functions
$celladjust:$cell-margin*2;

$cell-sizes:  (
  (twelve, 12),
  (eleven, 11),
  (ten, 10),
  (nine, 9),
  (eight, 8),
  (seven, 7),
  (six, 6),
  (five, 5),
  (four, 4),
  (three, 3),
  (two, 2),
  (one, 1)
);

@mixin sizing($size) {

  // Visibilty
  .#{$size}hide { display:none!important;}
  .#{$size}show { display:inherit!important;}

  // Typography
  .#{$size}text-left {text-align:left;}
  .#{$size}text-right {text-align:right;}
  .#{$size}text-center {text-align:center;}
  .#{$size}text-justify {text-align:justify;}


  @each $size-text, $size-int in $cell-sizes {

    // Create Cell Sizes
    .#{$size}#{$size-text} {
      max-width:calc( 100%/12 * #{$size-int} - #{$celladjust} );
      flex: 0 0 calc( 100%/12 * #{$size-int} - #{$celladjust} );
      &.collapse {
        max-width:calc( 100%/12 * #{$size-int} );
        flex: 0 0 calc( 100%/12 * #{$size-int} );
      }
    }

    // Create Cell ordering
    .#{$size}order-#{$size-int}  {-webkit-order:#{$size-int};order:#{$size-int};}
  }

  .#{$size}fifth {
    max-width:calc( 20% - #{$celladjust} );
    flex: 0 0 calc( 20% - #{$celladjust} );
    &.collapse {
      max-width:20%;
      flex: 0 0 20%;
    }
  }

}


// Alignment
.align-top {
  -webkit-align-items:flex-start;
          align-items:flex-start;
   -webkit-align-self:flex-start;
           align-self:flex-start;
}
.align-bottom {
  -webkit-align-items:flex-end;
          align-items:flex-end;
   -webkit-align-self:flex-end;
           align-self:flex-end;
}
.align-center {
  -webkit-align-items:center;
          align-items:center;
   -webkit-align-self:center;
           align-self:center;
}
.align-baseline {
  -webkit-align-items:baseline;
          align-items:baseline;
}
.align-stretch {
  -webkit-align-items:stretch;
          align-items:stretch;
}


// Cells
.cell {
  -webkit-flex:1 1 auto;
          flex:1 1 auto;
  min-height:0px;
  min-width:0px;
  max-width:100%;
  margin-left:$cell-margin;
  margin-right:$cell-margin;
  padding-left:$cell-padding;
  padding-right:$cell-padding;
  &.fit {
    -webkit-flex:0 0 auto;
            flex:0 0 auto;
    width:auto;
  }
  &.fill {
    -webkit-flex:1 1;
            flex:1 1;
    width:auto;
  }
  &.collapse {
    margin-left:0;
    margin-right:0;
  }
  &.collapse-padding {
    padding-left:0;
    padding-right:0;
  }
}

@include sizing(null);

// Media Queries
@media #{$small} {
  @include sizing(small-);
}

@media #{$medium} {
  @include sizing(medium-);

  // VW Headers
  .super-header.vw {font-size:5vw;}
  .h1.vw {font-size:3.5vw;}
  .h2.vw {font-size:3vw;}
  .h3.vw {font-size:2.5vw;}
  .h4.vw {font-size:2vw;}
  .h5.vw {font-size:1.5vw;}
}

@media #{$large} {
  @include sizing(large-);
}

@media #{$xlarge} {
  @include sizing(xlarge-);
}
