/* ThimbleCSS Overrides */

$project-name: ThimbleCSS;  // Set project name without quotes

// The Nimble Base
$body-font: Verdana, Geneva, sans-serif;
$header-font: "Poppins", sans-serif; // NEED TO RESET BEFORE MERGE TO MASTER
$font-color:#616161;
$subfont-color: rgba($font-color,.6);

$blue: #2266a7;
$yellow: #FFE066;
$red: #f15a3b;
$green: #57a290;
$gray:#6e7e85;

$primary-color: $blue;
$secondary-color: $green;
$tertiary-color: $gray;

// Transitions
$fast-speed:all 0.18s cubic-bezier(0.4, 0, 0.2, 1);
$normal-speed:all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$slow-speed:all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$slowest-speed:all 0.75s cubic-bezier(0.4, 0, 0.2, 1);

// Shadows
$base-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 8px rgba(0, 0, 0, 0.14);
$hover-shadow: 0 6px 16px rgba(0, 0, 0, 0.25), 0 4px 20px rgba(0, 0, 0, 0.18);
$selected-shadow: 0 12px 16px rgba(0, 0, 0, 0.25), 0 18px 40px rgba(0, 0, 0, 0.19);
$solid-shadow: 3px 3px 0px rgba(0,0,0,0.2);

// Metrics
$site-width:960px;
$small-site-width:760px;

$cell-padding:.75rem;

$small-radius: 2px;
$radius: 4px;
$large-radius: 6px;

// Media Break Adjustments
$large-up: "only screen and (min-width: #{75.063em})"; // < 1201px
$large-down: "only screen and (max-width: #{75em})"; // > 1200px

$medium-up: "only screen and (min-width: #{64.063em})"; // < 1025px
$medium-down: "only screen and (max-width: #{64em})"; // > 1024px

$medium-only: "only screen and (max-width: #{64em}) and (min-width: #{48.063em})";

$small-up: "only screen and (min-width: #{48.063em})"; // < 769px
$small-down: "only screen and (max-width: #{48em})"; // > 768px

$smaller-up: "only screen and (min-width: #{40.063em})"; // < 641px
$smaller-down: "only screen and (max-width: #{40em})"; // > 640px

$tiny-up: "only screen and (max-width: #{30.063em})"; // < 481px
$tiny-down: "only screen and (max-width: #{30rem})"; // > 480px

// Logos
// User relative path from your main CSS file OR set to FALSE
$logo-path: false;
$logo-path-light: false;

$logo-icon-path: false;
$logo-icon-path-light: false;

$logotype-path: false;
$logotype-path-light: false;
