/* Flexbox Fallback */
      
.no-flexbox .twelve {width:100%;}
.no-flexbox .eleven {width:91.666666%;}
.no-flexbox .ten {width:83.333333%;}
.no-flexbox .nine {width:75%;}
.no-flexbox .eight {width:66.666666%;}
.no-flexbox .seven {width:58.333333%;}
.no-flexbox .six, .no-flexbox .half {width:50%;}
.no-flexbox .five {width:41.666666%;}
.no-flexbox .four, .no-flexbox .third  {width:33.333333%;}
.no-flexbox .three {width:25%;}
.no-flexbox .two {width:16.666%;}
.no-flexbox .one {width:8.333333%;}
.no-flexbox .fifths {width:20%;}
  
.no-flexbox .twelve, .no-flexbox .eleven, .no-flexbox .ten, .no-flexbox .nine, .no-flexbox .eight, .no-flexbox .seven, .no-flexbox .six, .no-flexbox five, .no-flexbox .four, .no-flexbox .three, .no-flexbox .two, .no-flexbox .one, .no-flexbox .fifths, .no-flexboxlegacy .twelve, .no-flexboxlegacy .eleven, .no-flexboxlegacy .ten, .no-flexboxlegacy .nine, .no-flexboxlegacy .eight, .no-flexboxlegacy .seven, .no-flexboxlegacy .six, .no-flexboxlegacy five, .no-flexboxlegacy .four, .no-flexboxlegacy .three, .no-flexboxlegacy .two, .no-flexboxlegacy .one, .no-flexboxlegacy .fifths, .no-flexbox .cell {
  float:left;
  margin:0;
  padding:0 .5em;
}

.lt-ie10 .row {
  padding:0;
}


/* Media Queries */

/* smaller than 960px */
@media only screen and (max-width: 59.938em) { 


}


/* smaller than 768px */
@media only screen and (max-width: 47.938em) {
  
  
  /* Flexbox Fallback */
  .no-flexbox .twelve, .no-flexbox .eleven, .no-flexbox .ten, .no-flexbox .nine, .no-flexbox .eight, .no-flexbox .seven, .no-flexbox .six, .no-flexbox five, .no-flexbox .four, .no-flexbox .three, .no-flexbox .two, .no-flexbox .one, .no-flexbox .fifths, .no-flexboxlegacy .twelve, .no-flexboxlegacy .eleven, .no-flexboxlegacy .ten, .no-flexboxlegacy .nine, .no-flexboxlegacy .eight, .no-flexboxlegacy .seven, .no-flexboxlegacy .six, .no-flexboxlegacy five, .no-flexboxlegacy .four, .no-flexboxlegacy .three, .no-flexboxlegacy .two, .no-flexboxlegacy .one, .no-flexboxlegacy .fifths {width:100%;}
  
  
}